In [2]:
!pip install requests_html

Requirement already satisfied: requests_html in /usr/local/lib/python3.6/dist-packages (0.9.0)
Requirement already satisfied: w3lib in /usr/local/lib/python3.6/dist-packages (from requests_html) (1.19.0)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.6/dist-packages (from requests_html) (0.1.10)
Requirement already satisfied: pyquery in /usr/local/lib/python3.6/dist-packages (from requests_html) (1.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from requests_html) (2.18.4)
Requirement already satisfied: parse in /usr/local/lib/python3.6/dist-packages (from requests_html) (1.8.4)
Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (from requests_html) (0.0.1)
Requirement already satisfied: pyppeteer>=0.0.14 in /usr/local/lib/python3.6/dist-packages (from requests_html) (0.0.23)
Requirement already satisfied: six>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from w3lib->requests_html) (1.11.0)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.6/dist-packages (from pyquery->requests_html) (1.0.3)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.6/dist-packages (from pyquery->requests_html) (4.2.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->requests_html) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->requests_html) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->requests_html) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->requests_html) (2018.8.24)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4->requests_html) (4.6.3)
Requirement already satisfied: pyee in /usr/local/lib/python3.6/dist-packages (from pyppeteer>=0.0.14->requests_html) (5.0.0)
Requirement already satisfied: appdirs in /usr/local/lib/python3.6/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.4.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.25.0)
Requirement already satisfied: websockets in /usr/local/lib/python3.6/dist-packages (from pyppeteer>=0.0.14->requests_html) (6.0)

In [0]:
from requests_html import HTMLSession
session = HTMLSession()

url = 'https://www.99.co/singapore/sale?listing_type=sale&query_coords=1.3039947%2C103.8298507&query_type=city&show_future_mrts=true&zoom=11&radius_max=1000&query_limit=radius&property_segments=residential'

In [0]:
photo = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.grid-list.SearchListings > div > div > div > a > div.ListingItem-carousel.listing-carousel > div > div.buttons.buttons--card'
name = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.grid-list.SearchListings > div > div > div > a > div.ut-iblock.ListingItem-details.listing-details > div.ListingItem-addressDetails.main-details.ut-iblock > h4'
category = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.grid-list.SearchListings > div > div > div > a > div.ut-iblock.ListingItem-details.listing-details > div.ListingItem-addressDetails.main-details.ut-iblock > div:nth-child(3)'

In [0]:
location = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.grid-list.SearchListings > div > div > div > a > div.ut-iblock.ListingItem-details.listing-details > div.ListingItem-addressDetails.main-details.ut-iblock > div.location.ut-mt-5'
price = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.grid-list.SearchListings > div > div > div > a > div.ut-iblock.ListingItem-details.listing-details > div.ListingItem-quantities.attributes.ut-iblock > div.ListingItem-price'
area_sqft = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.grid-list.SearchListings > div > div > div > a > div.ut-iblock.ListingItem-details.listing-details > div.ListingItem-quantities.attributes.ut-iblock > div > span.sqft'
nextButton = '#nintynine_page_container > div > div:nth-child(1) > section > div.SearchPage-listings > div > div > div.SearchPagination > ul > li.next > a'

In [0]:
def get_text_from_sel(sel):     
    mylist = [] 
    try: 
        results = r.html.find(sel) 
        for result in results: 
            mytext = result.text 
            mylist.append(mytext) 
        return mylist 
    except: 
        return None

In [0]:
%%time
import pandas as pd

count = 0
frames = []
while count <= 200:
    r = session.get(url)
    df = pd.DataFrame()
    for item in ['name','category', 'location','area_sqft', 'price']:
        vals = get_text_from_sel(eval(item))
        if (item == 'price'): vals = [int(val[1:].replace(',',''))if val!='NaN' else val for val in vals ]
        if (item == 'area_sqft'): vals = [int(val[:-4].replace(',','')) if val!='NaN'else val for val in vals]  
        se = pd.Series(vals)        
        df[item] = se.values
    frames.append(df)
    button = r.html.find(nextButton)
    url = list(button[0].absolute_links)[0]
    count += 1
    #print(count)
    
result = pd.concat(frames).drop_duplicates()

A list of homes, which include details such as the price of the house, its location and area that may affect buyers' decision on the property that they are interested in.

In [80]:
result

,name,category,location,area_sqft,price
0,Stirling Residences,Condo,21 Stirling Road · Floor #29,441,899000
1,Stirling Residences,Condo,21 Stirling Road · Floor #02,1346,2179000
2,Stirling Residences,Condo,21 Stirling Road · Floor #28,883,1552000
3,8 Saint Thomas,Condo,8 Saint Thomas Walk · D9,1744,5421000
4,8 Saint Thomas,Condo,8 Saint Thomas Walk · D9,549,1761000
5,Coco Palms,Condo,25 Pasir Ris Grove · D18,1744,2160000
6,8 Saint Thomas,Condo,8 Saint Thomas Walk · D9,1302,4131000
7,Riverfront Residences,Condo,43 Hougang Avenue 7 · D19,1410,1725000
8,Stirling Residences,Condo,21 Stirling Road · Floor #02,635,1063000
9,Amber Skye,Apartment,8 Amber Road · D15,1281,2498000
10,8 Saint Thomas,Condo,8 Saint Thomas Walk · D9,506,1416000
11,485B Tampines Avenue 9,HDB 4 Rooms,D18,1302,498000
12,Corals At Keppel Bay,Condo,1 Keppel Bay Drive · Floor #08,872,1808000
13,521 Jurong West Street 52,HDB 3 Rooms,D22,721,290000
14,Riverfront Residences,Condo,43 Hougang Avenue 7 · D19,463,578000
15,[email protected],Condo,70 Truro Road · D8,807,1400000
16,Artra,Condo,10 Alexandra View · D3,1044,1737000
17,Stirling Residences,Condo,21 Stirling Road · D3,441,815000
18,Rezi 35,Condo,20 Lorong 35 Geylang · D14,840,1171800
19,The Trilinq,Condo,28 Jalan Lempeng · D5,700,1236000
20,Liberte,Condo / Apt,5 Sarkies Road · D10,646,1511000
21,Grandeur Park Residences,Condo,7 Bedok South Avenue 3 · D16,624,998000
22,Kallang Riverside,Condo,51 Kampong Bugis · D12,1572,3224717
23,Amber 45,Condo / Apt,45 Amber Road · D15,614,1499000
24,Nim Collection,Semi-Detached House,Nim Rise · D28,4252,2900000
25,Le Quest,Condo,8 Bukit Batok Street 41 · D23,699,975000
26,New Futura,Condo / Apt,14 Leonie Hill Road · D9,1830,5904000
27,Sixteen35 Residences,Condo / Apt,16 Lorong 35 Geylang · D14,797,1180000
28,The Line @ Tanjong Rhu,Condo,6 Tanjong Rhu Road · D15,1055,2343000
29,V On Shenton,Condo,5A Shenton Way · Floor #37,1356,3354000
...,...,...,...,...,...
25,Amber 45,Condo,45 Amber Road · D15,700,1650000
26,The Centris,Apartment,65 Jurong West Central 3 · D22,1238,1570000
28,Stirling Residences,Condo,21 Stirling Road · D3,635,1180000
29,Kallang Riverside,Condo,Kallang Riverside · D12,1033,2400000
0,The Jovell,Condo,25 Flora Drive · D17,441,588000
1,Forest Woods,Condo,9 Lorong Lew Lian · D19,1023,1688000
2,Forest Woods,Condo,9 Lorong Lew Lian · D19,1249,1900000
3,472 Jurong West Street 41,HDB Executive,D22,1689,699000
4,Daintree Residence,Condo,11H Toh Tuck Road · D21,1485,2579250
5,The Garden Residences,Condo,9 Serangoon North View · D19,452,715000
6,Kallang Riverside,Condo,51 Kampong Bugis · D12,1001,2660000
7,Daintree Residence,Condo,11H Toh Tuck Road · D21,678,1121000
8,Daintree Residence,Condo,11H Toh Tuck Road · Floor #04,667,1102000
10,260 Bukit Batok East Avenue 4,HDB 3 Rooms,D23,780,288000
11,Chelsea Village,Terraced House,Jambol Place · D5,1816,3300000
13,Harbour View Gardens,Apartment,221 Pasir Panjang Road · D5,980,1659650
15,Cluny Park Residence,Condo,99 Cluny Park Road · D10,2842,7800000
16,Affinity At Serangoon,Condo,26 Serangoon North Avenue 1 · D19,635,878000
17,The Peak @ Cairnhill I,Condo,51 Cairnhill Circle · D9,1001,1970000
18,Melrose Ville,Condo,10 Rose Lane · D15,818,1150000
20,8 Hullet,Condo,8 Hullet Road · D9,657,2271100
21,Vacanza @ East,Condo,36 Lengkong Tujoh · D14,1937,2290000
22,Newton Edge,Condo,1 Makeway Avenue · Floor #18,1292,2050000
23,Altez,Condo,16 Enggor Street · D2,753,1850000
24,Nomu,Condo,20 Handy Road · D9,474,1280000
25,Scotts Square,Condo,8 Scotts Road · D9,1249,3999999
26,Caribbean At Keppel Bay,Condo,24 Keppel Bay Drive · D4,904,1600000
27,Caribbean At Keppel Bay,Condo,22 Keppel Bay Drive · D4,893,1600000
28,The Glades,Condo,12 Bedok Rise · D16,689,1200000
29,One Shenton,Condo,1 Shenton Way · D1,1130,2400000

Save data to data.csv

In [0]:
result.to_csv('data.csv', encoding='utf-8-sig', index=False)

Users may want to download it to their computers

In [0]:
from google.colab import files
files.download('data.csv')

If the user wants to compare the different properties in the abovementioned list based on Price, the following list shows the top 10 homes with lowest prices.

In [82]:
result.sort_values(by=['price']).head(10)

,name,category,location,area_sqft,price
13,120 Lorong 2 Toa Payoh,HDB 2 Rooms,Singapore 310120 · D12,430,215000
29,70 Circuit Road,HDB 2 Rooms,D13,452,220000
12,211 Boon Lay Place,HDB 3 Rooms,Singapore 640211 · D22,700,225000
18,35 Jalan Bahagia,HDB 3 Rooms,Singapore 320035 · D12,603,228000
4,187 Boon Lay Avenue,HDB 3 Rooms,D22,732,235000
16,43 Telok Blangah Rise,HDB 3 Rooms,D4,635,235000
29,31 Marsiling Drive,HDB 3 Rooms,Singapore 730031 · D25,786,235000
19,161 Lorong 1 Toa Payoh,HDB 2 Rooms,Singapore 310161 · D12,441,238000
25,18 Marsiling Lane,HDB 3 Rooms,D25,764,240000
9,17 Marsiling Lane,HDB 3 Rooms,D25,807,245000

If the user wants to compare the different properties in the abovementioned list based on Area, the following list shows the top 10 homes with largest areas.

In [84]:
result.sort_values(by=['area_sqft'], ascending=False).head(10)

,name,category,location,area_sqft,price
12,Affinity At Serangoon,Condo,26 Serangoon North Avenue 1 · D19,958958,1338000
21,Belgravia Villas,Semi-Detached House,Belgravia Drive · D28,410034,2650000
25,Leedon Road,Good Class Bungalow,D10,44000,62000000
6,Charlton 27,Corner Terrace,None · D19,43594,3306000
35,Ewart Park,Good Class Bungalow,Ewart Park · D10,23000,26800000
0,Wallich Residence,Condo,3 Wallich Street · Floor #63,21108,108000000
23,Andrew Road,Good Class Bungalow,D11,19500,32000000
2,Ashley Green,Good Class Bungalow,Bukit Sedap Road · D10,17926,41800000
21,Brizay Park,Good Class Bungalow,None · D10,17900,23000000
1,Leedon Road,Good Class Bungalow,D10,15555,24888000

If the user wants to compare the different Condos in the abovementioned list based on Area, the following list shows the top 10 Condos with largest areas.

In [87]:
result.loc[result['category'] == 'Condo'].sort_values(by=['area_sqft'], ascending=False).head(10)

,name,category,location,area_sqft,price
12,Affinity At Serangoon,Condo,26 Serangoon North Avenue 1 · D19,958958,1338000
0,Wallich Residence,Condo,3 Wallich Street · Floor #63,21108,108000000
14,One Shenton,Condo,1 Shenton Way · Floor #50,9038,25000000
23,Marina One Residences,Condo,21 Marina Way · D1,8697,26091000
23,Marina One Residences,Condo,21 Marina Way · D1,8697,27000000
25,D'leedon,Condo,1 Leedon Heights · D10,8181,7890000
25,Marina One Residences,Condo,23 Marina Way · D1,8073,24000000
5,Marina One Residences,Condo,21 Marina Way · D1,8073,24000000
27,New Futura,Condo,14 Leonie Hill Road · D9,7836,39800000
11,New Futura,Condo,18 Leonie Hill Road · D9,7836,39800000

If the user wants to compare the different Apartments in the abovementioned list based on Price, the following list shows the top 10 Condos with lowest prices.

In [88]:
result.loc[result['category'] == 'Apartment'].sort_values(by=['price']).head(10)

,name,category,location,area_sqft,price
28,Kingsford Waterbay,Apartment,52 Upper Serangoon View · D19,678,532000
12,Sycamore Tree,Apartment,2 Fowlie Road · D15,420,650000
24,Avant Residences,Apartment,10 Aljunied Road · D14,398,665000
5,Parc Imperial,Apartment,253 Pasir Panjang Road · D5,441,700000
4,Avant Residences,Apartment,10 Aljunied Road · D14,484,760000
29,Casa Aerata,Apartment,9 Lorong 26 Geylang · Floor #10,592,799999
22,Tiong Bahru Estate,Apartment,78 Moh Guan Terrace · D3,835,800000
3,Vibes @ East Coast,Apartment,308 Telok Kurau Road · D15,614,800000
16,Neem Tree,Apartment,30 Jalan Kemaman · D12,505,810610
10,Casa Aerata,Apartment,9 Lorong 26 Geylang · Floor #10,592,818000

If the user wants to compare the different Condos and Apartments in the abovementioned list located at 10 Aljunied Road · D14  or  21 Marina Way · D1, the following list shows the requested homes.

In [93]:
result.loc[result['category'].isin([ 'Apartment','Condo'])& result['location'].isin(['10 Aljunied Road · D14','21 Marina Way · D1'])]

,name,category,location,area_sqft,price
14,Avant Residences,Condo,10 Aljunied Road · D14,937,1308000
15,Avant Residences,Condo,10 Aljunied Road · D14,483,750000
16,Avant Residences,Condo,10 Aljunied Road · D14,440,702000
17,Avant Residences,Condo,10 Aljunied Road · D14,935,1308000
18,Avant Residences,Condo,10 Aljunied Road · D14,421,778000
19,Avant Residences,Condo,10 Aljunied Road · D14,485,750000
20,Avant Residences,Condo,10 Aljunied Road · D14,442,700000
21,Avant Residences,Condo,10 Aljunied Road · D14,700,918000
22,Avant Residences,Condo,10 Aljunied Road · D14,936,1308000
23,Avant Residences,Condo,10 Aljunied Road · D14,484,750400
24,Avant Residences,Condo,10 Aljunied Road · D14,592,805400
25,Avant Residences,Condo,10 Aljunied Road · D14,420,778000
26,Avant Residences,Condo,10 Aljunied Road · D14,441,700000
1,Avant Residences,Condo,10 Aljunied Road · D14,441,704000
3,Avant Residences,Condo,10 Aljunied Road · D14,484,764000
3,Marina One Residences,Condo,21 Marina Way · D1,1119,2852770
5,Marina One Residences,Condo,21 Marina Way · D1,2250,5826000
15,Marina One Residences,Condo,21 Marina Way · D1,657,1700000
2,Marina One Residences,Condo,21 Marina Way · D1,1130,2594450
10,Marina One Residences,Condo,21 Marina Way · D1,1518,3515400
11,Marina One Residences,Condo,21 Marina Way · D1,2045,5325000
5,Marina One Residences,Apartment,21 Marina Way · D1,1582,3522000
3,Marina One Residences,Apartment,21 Marina Way · D1,1130,2900123
20,Marina One Residences,Condo,21 Marina Way · D1,1130,2498000
1,Marina One Residences,Condo,21 Marina Way · D1,6469,19000000
4,Marina One Residences,Condo,21 Marina Way · D1,1593,3522000
21,Marina One Residences,Condo,21 Marina Way · D1,1539,3515000
22,Marina One Residences,Condo,21 Marina Way · D1,1141,2765000
23,Marina One Residences,Condo,21 Marina Way · D1,8697,27000000
24,Marina One Residences,Condo,21 Marina Way · D1,2249,5441000
19,Marina One Residences,Condo,21 Marina Way · D1,6469,21347700
13,Marina One Residences,Condo,21 Marina Way · D1,1119,2690000
23,Marina One Residences,Condo,21 Marina Way · D1,8697,26091000
6,Marina One Residences,Condo,21 Marina Way · D1,7244,21000000
7,Marina One Residences,Condo,21 Marina Way · D1,1539,3577710
5,Marina One Residences,Condo,21 Marina Way · D1,8073,24000000
12,Avant Residences,Condo,10 Aljunied Road · D14,377,660000
0,Avant Residences,Condo,10 Aljunied Road · D14,452,710000
4,Avant Residences,Apartment,10 Aljunied Road · D14,484,760000
24,Avant Residences,Apartment,10 Aljunied Road · D14,398,665000
2,Avant Residences,Condo,10 Aljunied Road · D14,936,1300000
6,Marina One Residences,Condo,21 Marina Way · D1,1141,2530000
27,Avant Residences,Apartment,10 Aljunied Road · D14,936,1300000
21,Avant Residences,Condo,10 Aljunied Road · D14,527,816600
27,Marina One Residences,Condo,21 Marina Way · D1,1507,4210000